<div class="fm_right_rbfx_toolbar">
    <v-divider vertical></v-divider>
</div>
<!--  -->
<div class="fm_right_contain_no_pading">
    <v-layout>
        <v-main>
            <iframe src="markdown/help.md" id="mark_down_frame" name="mark_down_frame" class="fm_markdown_iframe"></iframe>
            <iframe id="mark_down_view" name="mark_down_view" class="fm_markdown_iframe_view"></iframe>
        </v-main>
    </v-layout>
</div>

<!--  -->
<div class="fm_right_footer">
    <v-toolbar density="compact" height="48" color="right_tool_bar">
        <v-breadcrumbs>
            <v-breadcrumbs-item class="fm_breadcrumbs_item"></v-breadcrumbs-item>
        </v-breadcrumbs>
    </v-toolbar>
</div>
