<!--start form  -->
<v-card class="mx-auto fm_left_nav_card">
    <v-layout>
        <v-navigation-drawer absolute permanent class="fm_left_nav_drawer">
            <!--  -->
            <v-list>
                <v-list-item :prepend-avatar="user_info.image" :subtitle="user_info.email" :title="user_info.fullname">
                    <template v-slot:append>
                        <v-btn icon="mdi-exit-to-app" size="small" variant="text" @click="logout"></v-btn>
                    </template>
                </v-list-item>
            </v-list>
            <v-divider></v-divider>
            <!--  -->
            <v-list :lines="false" density="compact" nav>
                <v-list-subheader>Project Resource</v-list-subheader>
                <v-list-item v-for="(item, i) in menu_items" :key="i" :value="item" :active="item.active" :disabled="item.disabled" @click="nav_menu_item_click(item)" color="menu">
                    <template v-slot:prepend>
                        <v-icon :icon="item.icon"></v-icon>
                    </template>
                    <v-list-item-title v-text="item.text"></v-list-item-title>
                </v-list-item>
            </v-list>
            <!--  -->
            <v-list :lines="false" density="compact" nav>
                <v-list-subheader>Editor Resource</v-list-subheader>
                <v-list-item v-for="(item, i) in menu_editor_items" :key="i" :value="item" :active="item.active" :disabled="item.disabled" @click="nav_menu_editor_item_click(item)" color="menu">
                    <template v-slot:prepend>
                        <v-icon :icon="item.icon"></v-icon>
                    </template>
                    <v-list-item-title v-text="item.text"></v-list-item-title>
                </v-list-item>
            </v-list>
            <!--  -->
            <v-list :lines="false" density="compact" nav>
                <v-list-subheader>Help Resource</v-list-subheader>
                <v-list-item v-for="(item, i) in menu_help_items" :key="i" :value="item" :active="item.active" :disabled="item.disabled" @click="nav_menu_help_item_click(item)" color="menu">
                    <template v-slot:prepend>
                        <v-icon :icon="item.icon"></v-icon>
                    </template>
                    <v-list-item-title v-text="item.text"></v-list-item-title>
                </v-list-item>
            </v-list>
        </v-navigation-drawer>
        <div class="fm_main_log_contain">
            <v-divider></v-divider><v-img :width="180" aspect-ratio="1/1" cover src="./img/logo_outlined.png" class="fm_main_log animate__animated animate__rubberBand"></v-img>
        </div>
    </v-layout>
</v-card>
<!--end from  -->
