<v-navigation-drawer location="right" v-model="is_right_files_drawer" permanent temporary class="fm_right_contain_drawer" width="400">
    <!-- del -->
    <div v-if="is_right_files_del_drawer">
        <div class="fm_card_input_group_right_fix">
            <div v-if="if_have_selected_folder_or_file">
                <v-list lines="false" density="compact" :max-height="win_height-80" class="fm_not_select_list">
                    <v-list-subheader>The selected folder or file is</v-list-subheader>
                    <v-list-item v-for="(n, i) in selected_folder_and_files" :key="i" variant="plain">
                        <v-list-item-title class="fm_right_list_item_title">{{n.filePath}}</v-list-item-title>
                        <v-list-item-subtitle class="fm_right_list_item_sub_title">{{n.uptime}}</v-list-item-subtitle>
                        <template v-slot:prepend>
                            <v-avatar class="fm_card_prepend_avatar_no_hover">
                                <v-icon :icon="get_icon_for_file_type(n)"></v-icon>
                            </v-avatar>
                        </template>
                    </v-list-item>
                </v-list>
            </div>
        </div>

        <div class="submit_opacity_contain">
            <v-btn class="ml-auto ok" variant="elevated" rounded="0px" text="Delete" @click="delete_folder_or_file_click"></v-btn>
            <v-btn class="ml-auto cancel" variant="elevated" rounded="0px" text="Close" @click="close_files_drawer"></v-btn>
        </div>
    </div>
    <!-- zip -->
    <div v-if="is_right_files_zip_drawer">
        <div class="fm_card_input_group_right_fix">
            <div v-if="if_have_selected_folder_or_file">
                <div class="fm_card_input_group_right_in">
                    <v-text-field label="Name" variant="outlined" v-model="to_zip_name">
                        <template v-slot:prepend>
                            <v-avatar class="fm_card_prepend_avatar_no_hover">
                                <v-icon icon="mdi-folder-zip"></v-icon>
                            </v-avatar>
                        </template>
                    </v-text-field>
                </div>
                <v-divider></v-divider>
                <v-list lines="false" density="compact" :max-height="win_height-80" class="fm_not_select_list">
                    <v-list-subheader>The selected folder or file is</v-list-subheader>
                    <v-list-item v-for="(n, i) in selected_folder_and_files" :key="i" variant="plain">
                        <v-list-item-title class="fm_right_list_item_title">{{n.filePath}}</v-list-item-title>
                        <v-list-item-subtitle class="fm_right_list_item_sub_title">{{n.uptime}}</v-list-item-subtitle>
                        <template v-slot:prepend>
                            <v-avatar class="fm_card_prepend_avatar_no_hover">
                                <v-icon :icon="get_icon_for_file_type(n)"></v-icon>
                            </v-avatar>
                        </template>
                    </v-list-item>
                </v-list>
            </div>
        </div>

        <div class="submit_opacity_contain">
            <v-btn class="ml-auto ok" variant="elevated" rounded="0px" text="Zip" @click="zip_folder_or_file_click"></v-btn>
            <v-btn class="ml-auto cancel" variant="elevated" rounded="0px" text="Close" @click="close_files_drawer"></v-btn>
        </div>
    </div>
    <!-- unzip -->
    <div v-if="is_right_files_unzip_drawer">
        <div class="fm_card_input_group_right_fix">
            <div v-if="if_have_selected_zip_file">
                <div class="fm_card_input_group_right_in">
                    <v-text-field label="Unzip Folder Name" variant="outlined" v-model="to_unzip_name">
                        <template v-slot:prepend>
                            <v-avatar class="fm_card_prepend_avatar_no_hover">
                                <v-icon icon="mdi-folder-zip-outline"></v-icon>
                            </v-avatar>
                        </template>
                    </v-text-field>
                </div>
                <v-divider></v-divider>
                <v-list lines="false" density="compact" :max-height="win_height-80" class="fm_not_select_list">
                    <v-list-subheader>The selected folder or file is</v-list-subheader>
                    <v-list-item v-for="(n, i) in selected_zip_files" :key="i" variant="plain">
                        <v-list-item-title class="fm_right_list_item_title">{{n.filePath}}</v-list-item-title>
                        <v-list-item-subtitle class="fm_right_list_item_sub_title">{{n.uptime}}</v-list-item-subtitle>
                        <template v-slot:prepend>
                            <v-avatar class="fm_card_prepend_avatar_no_hover">
                                <v-icon :icon="get_icon_for_file_type(n)"></v-icon>
                            </v-avatar>
                        </template>
                    </v-list-item>
                </v-list>
            </div>
        </div>

        <div class="submit_opacity_contain">
            <v-btn class="ml-auto ok" variant="elevated" rounded="0px" text="Unzip" @click="unzip_folder_or_file_click"></v-btn>
            <v-btn class="ml-auto cancel" variant="elevated" rounded="0px" text="Close" @click="close_files_drawer"></v-btn>
        </div>
    </div>
    <!-- del -->
    <div v-if="is_right_files_paste_drawer">
        <div class="fm_card_input_group_right_fix">
            <div v-if="if_have_selected_folder_or_file">
                <v-list lines="false" density="compact" :max-height="win_height-80" class="fm_not_select_list">
                    <v-list-subheader>The selected folder or file is</v-list-subheader>
                    <v-list-item v-for="(n, i) in copy_folder_and_files" :key="i" variant="plain">
                        <v-list-item-title class="fm_right_list_item_title">{{n.filePath}}</v-list-item-title>
                        <v-list-item-subtitle class="fm_right_list_item_sub_title">{{n.uptime}}</v-list-item-subtitle>
                        <template v-slot:prepend>
                            <v-avatar class="fm_card_prepend_avatar_no_hover">
                                <v-icon :icon="get_icon_for_file_type(n)"></v-icon>
                            </v-avatar>
                        </template>
                    </v-list-item>
                </v-list>
            </div>
        </div>

        <div class="submit_opacity_contain">
            <v-btn class="ml-auto ok" variant="elevated" rounded="0px" text="Paste" @click="paste_folder_or_file_click"></v-btn>
            <v-btn class="ml-auto cancel" variant="elevated" rounded="0px" text="Close" @click="close_files_drawer"></v-btn>
        </div>
    </div>
    <!-- New Folder -->
    <div v-if="is_right_files_newFolder_drawer">
        <div class="fm_card_input_group_right_fix">
            <div class="fm_card_input_group_right_in">
                <v-text-field label="Unzip Folder Name" variant="outlined" v-model="to_create_new_folder">
                    <template v-slot:prepend>
                        <v-avatar class="fm_card_prepend_avatar_no_hover">
                            <v-icon icon="mdi-folder-plus"></v-icon>
                        </v-avatar>
                    </template>
                </v-text-field>
            </div>
        </div>
        <!--  -->
        <div class="submit_opacity_contain">
            <v-btn class="ml-auto ok" variant="elevated" rounded="0px" text="NewFolder" @click="new_folder_click"></v-btn>
            <v-btn class="ml-auto cancel" variant="elevated" rounded="0px" text="Close" @click="close_files_drawer"></v-btn>
        </div>
    </div>
</v-navigation-drawer>
